.user-expense-container.approving {
    opacity: 0.6;
    pointer-events: none;
}

.slds-checkbox_toggle__input:disabled {
    cursor: not-allowed;
}

.slds-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.slds-table thead th {
    background-color: #9d0b0f;
    color: white;
    z-index: 1;
    white-space: pre-wrap;
}

.slds-table thead th span {
    color: white;
}

.slds-table td {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-wrap: balance;
}

.table-cell span {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-wrap: balance;
}

.table-container {
    overflow-y: unset;
    height: auto;
}

.filter-section {
    background-color: #f3f2f2;
    border-radius: 0.25rem;
    padding: 1rem;
}

.slds-form-element__label {
    font-weight: bold;
    color: #514f4d;
}