th {
    color: aliceblue;
background-color: #007cc2;
}

.slds-modal.slds-fade-in-open {
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    }

    /* Ensuring modal content has padding and proper spacing */
    .slds-modal__content {
        background-color: #fff;
        
        padding: 20px;
    }

    /* Adjusting the footer layout */
    .slds-modal__footer {
        display: flex;
        justify-content: center; 
    }

      .custom-close-button .slds-button__icon {
        color: gray; /* You can use other shades like 'darkgray', 'lightgray', etc. */
    }
    .page-center {
        display: flex;
        justify-content: center;
    }
    
    .file-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        background: white;
    }
    
    .fixed-width {
        width: 250px; /* Make sure this width fits your longest filename */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .slds-table th, .slds-table td {

        padding: 2px;
    }