 /* Define running headers and footers */
        @page {
            @top-center {
                content: element(header);
            }
            @bottom-center {
                content: element(footer);
            }
        }

        .page-header {
            display: block;
            position: running(header);
        }

        .page-footer {
            display: block;
            position: running(footer);
            font-family: "Times New Roman", Times, serif;
            font-size: 12px;
            text-align: center;
            border-top: 1px solid black;
            padding-top: 4px;
        }

        .pagenumber:before {
            content: counter(page);
        }
        .pagecount:before {
            content: counter(pages);
        }